<header class="header">
  <div class="logo-container">
    <img src="assets/RR_LOGO.png" alt="Logo" class="logo-img">
  </div>
  
  <i class="bi" [ngClass]="isMobileMenuOpen ? 'bi-x' : 'bi-list'" id="menu-icon" (click)="toggleMobileMenu()"></i>

  <nav class="navbar" [class.active]="isMobileMenuOpen">
    <a routerLink="/home" routerLinkActive="active" (click)="closeMobileMenu()">Home</a>
    <a routerLink="/about" routerLinkActive="active" (click)="closeMobileMenu()">About</a>
    <a routerLink="/skills" routerLinkActive="active" (click)="closeMobileMenu()">Skills</a>
    <a routerLink="/portfolio" routerLinkActive="active" (click)="closeMobileMenu()">Portfolio</a>
    <a routerLink="/contact" routerLinkActive="active" (click)="closeMobileMenu()">Contact</a>
  </nav>
</header>

<router-outlet></router-outlet>
